
*{
    margin: 0;
    padding: 0;
    font-family: 'Shizuru', cursive;
    
}
body{
    
    background: linear-gradient(rgb(235, 213, 17),teal);
}
    
/* hEADER AND MENU BAR */

    .header{
    
        min-height: 100vh;
        width: 100%;
        /* background:linear-gradient(teal,yellwo) */
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    
    h3{
            margin-left: 8px;
        font-family: sans-serif;
         color: rgb(89, 0, 255);
        justify-content: left;
        font-size: 26px;
    }

    strong{
        /* font-family: poppin,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
         color: rgb(78, 23, 180);
         font-size: 30px;
    }
    
    nav{
        display: flex;
        padding-right: 30px;
        justify-content: space-between;
        align-items: center;
        background-color: yellowgreen;
    }
    
    .nav-links{
      flex: 1;
      text-align: right;
    }
    
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 13px;
        
       
    }
    
    .nav-links ul li a{
        color: white;
        text-decoration: none;
        font-size: 21px;
    
    }
    
    /* Nav link styling */
    
    .nav-links ul li::after{
        content:'';
        width: 0%;
        height: 2.50px;
        background: linear-gradient(to right ,rgb(200, 255, 2) , rgb(184, 49, 211));
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::after{
    width: 90%;
    }
    
    .nav-links ul li:hover{
        background: linear-gradient(white, teal);
        border-radius: 10px;
      margin-bottom: 20px;
    }

    /* Counter App */

.container{
    /* background: #ff574a; */
    text-align: center;
    /* padding: 20px 30px; */
    /* color: rgb(255, 255, 255); */
    /* border: 6px solid rgba(15, 250, 85, 0.952); */
    /* border-radius: 20px;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
background: #ff574a;
 color: rgb(255, 255, 255);
  border: 5px solid rgba(15, 250, 85, 0.952);
  margin-top: 80px;
  margin-bottom: 120px;
    border-radius: 20px; 
    padding: 3.5rem;
    box-shadow: turquoise 0px 7px 9px 0px;

}
.counter p{
    text-align: center;
    font-size: 8rem;
    font-weight: 300;
    line-height: 1;
    padding:30px;
}

.buttons{

}

.counter button{
    padding: 5px;
    border-radius: 12px;
    border: 4px solid rgb(104, 68, 187);
    background:linear-gradient(rgb(149, 226, 226) ,yellow);
  font-size: 1.6rem;
 

}

.counter button#sub:hover{
    padding: 4px;
    border: none;
    border-radius: 12px;
    background:red;
}

.counter button#add:hover{
    padding: 6px;
    border: none;
    border-radius: 12px;
    background: green;
}






    /* aRTICLE ABOUT COUNTER */

    .article-header{
        font-family: sans-serif;
        text-align: center;
        margin: 34px;
        font-size: 28px;
    }

   .articles{
       margin-left: 20px;
       margin-right: 20px;
       text-align: justify;
   }